*.pyc
.pyc
.DS_Store
website-root-shroomworks/.idea/misc.xml
website-root-shroomworks/.idea/modules.xml
website-root-shroomworks/.idea/website-root-shroomworks.iml
website-root-shroomworks/.idea/workspace.xml
website-root-shroomworks/.idea/inspectionProfiles/profiles_settings.xml
