{% load static %}
<!doctype html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{% static 'js/miscAjax.js' %}"></script>
  <script>
    function setContainerHeight() {
      var container = document.getElementById("login-container");
      var containerHeight = container.clientHeight;
      var windowHeight = window.innerHeight;

      var top = (windowHeight - containerHeight) / 2;

      container.style.marginTop = top + "px";
    }
  </script>
  <title>Lens</title>
</head>

  <body onLoad="setContainerHeight()">
          {# <p>Loading content...</p>#}
          {% block content %} {% endblock %}

    {% block javascript %}{% endblock %}
  </body>

</html>

<script>

window.csrftoken="{{csrftoken}}"

$("#myprofile:button").click(function () {
  $.ajax({
    url: '/herenow/myprofile',
    type: "GET",
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    success : function(data) {
         $('div.main-content').html(data);
     }
  });
});

</script>
