{% load static %}<!doctype html>


<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{% static 'js/test.js' %}"></script>
  <script src="{% static 'js/miscAjax.js' %}"></script>
</head>

  <body>
    <div class="background">
      <!-- sets entire page background -->
      <div class="container">

        <!-- defines header -->
        <div class="header">
          <h1>Lens app</h1>
          <a href="/herenow/">Home</a>
          <br>
          {# <button id="myprofile" type="button">My profile</button>#}
          <br>
          {# <a href="/herenow/feed">What's new</a>#}
        </div>

        <!-- defines body -->
        <div class="main-content">
          {# <p>Loading content...</p>#}
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

    <a href="/herenow/logout">Logout</a>

    {% block javascript %}{% endblock %}
  </body>

</html>

<script>

window.csrftoken="{{csrftoken}}"

$("#myprofile:button").click(function () {
  $.ajax({
    url: '/herenow/myprofile',
    type: "GET",
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
    success : function(data) {
         $('div.main-content').html(data);
     }
  });
});

</script>
