{% load static %}
{% include "take_picture.html" %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
    <script src="{% static 'js/mapfunctions.js' %}"></script>
    <script src="{% static 'js/shroomfunctions.js' %}"></script>
    <script src="{% static 'js/webPicture.js' %}"></script>
    <script src="{% static 'js/miscAjax.js' %}"></script>
    <script src="{% static 'js/elements.js' %}"></script>
  </head>
  <body>
    <!-- includes take picture pop up html -->
    {% include "take_picture.html" %}

    <nav class="navbar navbar-inverse nomargin navbar-fixed-top navbar-custom">
      <div id="navbar-left">
        <a href="{{ BASE_URL }}">
          <div id="navbar-logo">
            <img id="navbar-logo-pic" src="{% static 'images/lenslogo.png' %}">
            <div id="navbar-logo-text">
              LENS
            </div>
          </div>
        </a>
        <div id="navbar-search">
          <input type="text" placeholder="Search the world">
        </div>
        <div id="navbar-download">
          <div id="navbar-download-text">
            <div id="navbar-download-1">
              Download LENS
            </div>
            <div id="navbar-download-2">
              mobile application
            </div>
          </div>
          <img class="navbar-app-icon" src="{% static 'images/apple-logo.png' %}">
          <img class="navbar-app-icon" src="{% static 'images/gplay_logo.png' %}">
        </div>
      </div>
      <div id="navbar-right">
        <div id="navbar-profile">
          <img id="navbar-profile-pic" src="">
          <div id="navbar-info">
            <div id="navbar-username">{ username }</div>
            <div id="navbar-edit"><a href="/herenow/profile">Manage Profile</a> | <a href="/herenow/logout">Sign Out</a> | <a onclick="take_pic()" href="#">Create Post</a></div>
          </div>
        </div>
        <div id="navbar-business">
          <div id="navbar-business-logo">LENS</div>
          <div id="navbar-edit">Business</div>
        </div>
      </div>
    </nav>

    <div class="container-fluid nomargin">
      <div id="mapstyle">
        <div id="map"></div>
      </div>

      <div id="newsfeed">
        <!-- news feed items go here -->
      </div>
    </div>

    <!-- includes full screen html info -->
    {% include "view_fullscreen_post.html" %}

  </body>
</html>
