{% extends "base_old.html" %}
{% block content %}
{% include "take_picture.html" %}
<h2> {{ welcome }} </h2>

<!-- basic information display -->
<div id="show-user-profile" style="display:block">
</div>

<!-- edits basic informtion -->
<div id="edit-user-profile" style="display:none">
  <form id="edit-user-profile-form">
    <h2>Edit your profile</h2>
    <button onclick="show_profile()">Cancel</button>
    <br>
    Username: %profile.user.username%
    <br>
    First name:
    <input type="text" id="edit-firstname" name="firstname" value="">
    <br>
    Last name:
    <input type="text" id="edit-lastname" name="lastname" value="">
    <br>
    Email:
    <input type="text" id="edit-email" name="email" value="">
    <br>
    Status:
    <input type="text" id="edit-status" name="status" value="">
    <br>
    <image src=%profile.image%></image>
    <br>
    <button onclick="take_pic()" type="button">Change profile picture</button>
    <!--input type="file" id="edit-image" name="image" accept="image/*"-->
  </form>
  <button onclick="send_user_data()">Update</button>
</div>


{% endblock %}

{% block javascript %}
<script>
  user_data = 0;

  $(document).ready(function() {
    console.log("Getting user data...");
    get_user_data();
  });

  function get_user_data() {
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      url: '/api/get_profile_self',
      type: "GET",
      beforeSend: function(jqXHR, settings) {
        jqXHR.setRequestHeader("x-csrftoken", csrftoken);
      },
      success : function(data) {
          user_data = data;
          fill_user_info();
          fill_edit_info();
       }
    });
  }

  function send_user_data() {
    var formData = JSON.stringify($("#edit-user-profile-form").serializeObject());
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      url: '/api/set_profile_self',
      type: "POST",
      contentType: 'application/json; charset=utf-8',
      data: formData,
      beforeSend: function(jqXHR, settings) {
        jqXHR.setRequestHeader("x-csrftoken", csrftoken);
      },
      success : function() {
        get_user_data();
        show_profile();
      }
    });
  }

  function fill_user_info() {
    var content = '';
    content += '<h2>Your profile</h2>';// '<button onclick="show_edit()">Edit</button><br>';
    content += 'Username: ' + user_data.username + '<br>';
    content += 'Full name: ' + user_data.first_name + ' ' + user_data.last_name + '<br>';
    content += 'Email: ' + user_data.email + '<br>';
    content += 'Status: ' + user_data.status + '<br>';
    content += '<image src=' + user_data.image + '></image><br>'
    document.getElementById("show-user-profile").innerHTML = content;
  }

  function fill_edit_info() {
    var content = document.getElementById("edit-user-profile").innerHTML;
    content = content.replace("%profile.user.username%", user_data.username);
    content = content.replace("%profile.image%", user_data.image);
    document.getElementById("edit-user-profile").innerHTML = content;
    document.getElementById("edit-firstname").value = user_data.first_name;
    document.getElementById("edit-lastname").value = user_data.last_name;
    document.getElementById("edit-email").value = user_data.email;
    document.getElementById("edit-status").value = user_data.status;
  }

  function show_edit() {
      document.getElementById("show-user-profile").style.display = "none";
      document.getElementById("edit-user-profile").style.display = "block";
  }
  function show_profile() {
      document.getElementById("show-user-profile").style.display = "block";
      document.getElementById("edit-user-profile").style.display = "none";
  }

  // Get the modal
  var modal = document.getElementById('picture_modal');
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  function take_pic() {
    startCamera();
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    stopCamera();
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
</script>
{% endblock %}
