<script>
    function onOpen() {
      getLocation();
      run_webcam();
    }

    // gps functions
    function getMiniMap(position) {
      var mapUrl = "https://maps.googleapis.com/maps/api/staticmap?center=LATITUDE,LONGITUDE&zoom=14&size=400x300&markers=color:blue|LATITUDE,LONGITUDE&key=AIzaSyCoGpZQdMzmoahBt27dvZDWNlPdeCagig8";
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      mapUrl = mapUrl.replace('LATITUDE', lat);
      mapUrl = mapUrl.replace('LATITUDE', lat);
      mapUrl = mapUrl.replace('LONGITUDE', lon);
      mapUrl = mapUrl.replace('LONGITUDE', lon);
      document.getElementById("minimap").src = mapUrl;
    }

    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition, showError);
      }
      else {
          document.getElementById("position").innerHTML = "Geolocation is not supported by this browser.";
      }

      function showPosition(position) {
          document.getElementById("id_lat").value = position.coords.latitude;
          document.getElementById("id_lon").value = position.coords.longitude;
          getMiniMap(position);
      }

      function showError(error) {
          switch(error.code) {
              case error.PERMISSION_DENIED:
                  document.getElementById("position").innerHTML = "User denied the request for Geolocation."
                  break;
              case error.POSITION_UNAVAILABLE:
                  document.getElementById("position").innerHTML = "Location information is unavailable."
                  break;
              case error.TIMEOUT:
                  document.getElementById("position").innerHTML = "The request to get user location timed out."
                  break;
              case error.UNKNOWN_ERROR:
                  document.getElementById("position").innerHTML = "An unknown error occurred."
                  break;
          }
      }
    }

    // camera functions
    function run_webcam() {
      // Get access to the camera!
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
          document.getElementById('video').src = window.URL.createObjectURL(stream);
          document.getElementById('video').play();
        });
      }
    }

    // Trigger photo take
    function snap() {
      document.getElementById('canvas').getContext('2d').drawImage(document.getElementById('video'), 0, 0, 400, 300);
      document.getElementById('take_pic').style.display = 'none';
      document.getElementById('show_pic').style.display = 'block';
      document.getElementById('id_image_b64').value = document.getElementById('canvas').toDataURL("image/png");
    };

    function retakePicture() {
      document.getElementById('take_pic').style.display = 'block';
      document.getElementById('show_pic').style.display = 'none';
    }

    function createPost() {
      var url = '/herenow/post/create_post';
      var data = document.getElementById('create_post');
      console.log("Sending ajax post");
      console.log(data);
      $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: null,
        dataType: null
      });
    }
</script>

{% extends "base_old.html" %}

{% block content %}
<body onload="onOpen()">

<h2>Create your post:</h2>
{{ err_msg }}

<img id="minimap" src=''>
<br>

<p id="test"></p>


<div id="take_pic" style="display:block">
  <video id="video" width="400" height="300" autoplay></video>
  <br>
  <button id="snap" onclick="snap()">Snap Photo</button>
</div>

<div id="show_pic" style="display:none">
  <canvas id="canvas" width="400" height="300"></canvas>
  <br>
  <button id="retake_pic" onclick="retakePicture()">Retake</button>
</div>

<form id="create_post" action="create_post" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button id="create_post_button" onclick="createPost()">Send</button>
</form>

{% endblock content %}
