{% extends "base_old.html" %}
{% load static %}

{% block javascript %}
  <script>
  image = 0;

  function sendImage() {
    var csrftoken = getCookie('csrftoken');
    var formData = JSON.stringify(image);

    $.ajax({
      url: '/api/receive_picture',
      type: "POST",
      dataType: 'application/json; charset=utf-8',
      data: formData,
      beforeSend: function(jqXHR, settings) {
        jqXHR.setRequestHeader("x-csrftoken", csrftoken);
      },
      success : function() {
      }
    });
  }

  function convertBase64() {
    var file = document.querySelector('input[type=file]').files[0];
    var reader = new FileReader();

    reader.addEventListener("load", function () {
      image = reader.result;
    }, false);

    if(file) {
      reader.readAsDataURL(file);
    }
  }

  function sendTestAjax() {
    var formData = JSON.stringify($("#data").serializeObject());
    console.log(formData);

    $.ajax({
      url: '/api/test_endpoint',
      type: "POST",
      dataType: 'application/json; charset=utf-8',
      data: formData,
      success : function(response) {
        console.log('Success');
      }
    });
  }

  </script>
{% endblock %}

{% block content %}
<html>
<script src="{% static 'js/miscAjax.js' %}"></script>

<h2>Testing upload picture</h2>

  <form>
      <br>Select image to upload:
      <input type="file" id="fileToUpload" name="fileToUpload" onchange="convertBase64()" capture="camera"><br>
      <br>
  </form>

  <input type="button" value="Upload Image" onclick="sendImage()">

  <form>
    <br>Test send ajax:
    <input type="text" id="data" name="data"></input>
  </form>

  <input type="button" value="Send an ajax test here!" onclick="sendTestAjax()"></input>

</html>
{% endblock content %}
