{% extends "base_old.html" %}

{% block javascript %}
  <script>

  $("#id_test_field").change(function () {
    var username = $(this).val();
    console.log(username);

    $.ajax({
      url: '/api/validate_username/',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert("A user with this username already exists.");
        }
      }
    });

  });

  $("#butt:button").click(function () {
    $.ajax({
      url: '/api/get_ajax/',
      type: "POST",
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
           $('div.ajax').html(data);
       }
    });
  });

  </script>
{% endblock %}

{% block content %}
<h2>Testing AJAX</h2>

{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit">

<button id="butt" type="button">Click Me!</button>

<div class="ajax">No update yet</div>

{% endblock content %}
