{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
  <div id="fullscreen">
    <div id="fullscreen-bg" onClick="hideFullScreen()"></div>
    <div id="fullscreen-photo-wrapper">
      <img id="fullscreen-photo" src="{% static 'images/lsdlarge.jpg' %}" onClick="null">
      <div id="fullscreen-meta">

        <div id="fullscreen-meta-title">Title</div>

        <img id="fullscreen-meta-map">

        <div id="fullscreen-meta-likes">
          <img class="picIcon" src="{% static 'images/heart_icon.png' %}">
          8 likes
        </div>

        <div id="fullscreen-meta-comments">
          5 comments
          <img class="picIcon" src="{% static 'images/comment_icon.png' %}">
        </div>

        <!--div id="create-comment-box">
          <form>
            Create comment:
            <br>
            <input type="text" size='42'></input>
          </form>
        </div>

        <div id="comments-list">
          Comment 1
        </div-->

      </div>
    </div>
  </div>
</body>
</html>
