{% extends "base_old.html" %}

{% block javascript %}
  <script>

  $("#id_test_field").change(function () {
    var username = $(this).val();
    console.log(username);

    $.ajax({
      url: '/herenow/ajax/validate_username/',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert("A user with this username already exists.");
        }
      }
    });

  });

  </script>
{% endblock %}

{% block content %}
<h2>Testing AJAX</h2>

{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit">

{% endblock content %}

{% block content %}
<h2> {{ welcome }} </h2>


<!-- basic information display -->
<h2>Your profile</h2>
Username: {{ profile.user.username }}
<br>
Full name: {{ profile.user.first_name }} {{ profile.user.last_name }}
<br>
Email: {{ profile.user.email }}
<br>
Status: {{ profile.status }}
<br>

<!-- update status menu -->
<div id="upd_status_button" style="display:block">
  <button onclick="upd_status()">Update status</button>
</div>

<div id="upd_stat" style="display:none">
  <form action="update_status" method="post" class="dynamic-form">
    {% csrf_token %}
      New status here: <input type="text" name="status"><br>
    <button type="input">Submit</button>
  </form>
</div>

<!-- shows profile picture -->
<div id="show_profile_picture" style="display:block">
  {% if not profile.image %}
  <p>Oops! You don't have a profile picture yet! Click the link below to add one.</p>
  {% else %}
  <img src='{{ profile.image.url }}' width="300" height="auto">
  {% endif %}
</div>

<!-- update picture menu -->
<div id="upd_image_button" style="display:block">
  <button onclick="upd_image()">Update profile picture</button>
</div>

<div id="upd_image" style="display:none">
  <div id="upd_upload" style="display:block">
    <button onclick="use_webcam()">Use webcam</button>
    <form action="update_image" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Upload picture: <input type="file" name="image" accept="image/*">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div id="upd_webcam" style="display:none">
    <button onclick="use_upload()">Select file</button>

      <div id="take_pic" style="display:block">
        <button id="snap" onclick="snap()">Snap Photo</button>
        <br>
        <video id="video" width="400" height="300" autoplay></video>
      </div>

      <div id="show_pic" style="display:none">
        <button id="retake_pic" onclick="retakePicture()">Retake</button>
        <br>
        <canvas id="canvas" width="400" height="300"></canvas>
      </div>

      <form id="update_pic_form" action="update_image_base64" method="post">
        {% csrf_token %}
        {{ form_pic.as_p }}
        <br>
        <input type="submit" value="Submit">
      </form>
  </div>
</div>

<!-- logout button -->
<br>
<form action="logout" method="post">
  {% csrf_token %}
  <input type="submit" value="Logout">
</form>

{% endblock content %}
