{% extends "base.html" %}

{% load staticfiles%}

{% block content %}

<script>
  var markers = {};
  const TOTAL_MARKERS = 100;

  // TODO: Get ID and coords from DB and loop into the array

  for (var id = 0; id < TOTAL_MARKERS; id++) {
    var random_lat = (Math.random()-0.5) * 180;
    var random_lng = (Math.random()-0.5) * 360;
    markers[id] = {lat: random_lat, lng: random_lng};
  }

  function markerClicked(shroom_id) {
    document.getElementById("newsfeed").innerHTML = shroomHTML(shroom_id) + document.getElementById("newsfeed").innerHTML;
  }

  function shroomHTML(shroom_id) {
    var result = '';
    result += '<div class="news-item"><div id="news-image">';
    if (shroom_id % 2 == 0) {
      result += '<img class="news-image" src="{% static "images/Cockfosters.jpg" %}">';
    } else {
      result += '<img class="news-image" src="{% static "images/moorgate.jpg" %}">';
    }
    result += '</div><div id="news-description">';
    result += 'ID: ' + shroom_id + '<br>';
    result += 'Latitude: ' + markers[shroom_id].lat + '<br>';
    result += 'Longitude: ' + markers[shroom_id].lng + '<br>';
    if (shroom_id % 2 == 0) {
      result += 'This is a Picadilly line train terminating at Cockfosters.';
    } else {
      result += 'This station is Moorgate. Change here for Circle, Hammersmith & City and Metropolitan line, and National Rail Services.';
    }
    result += '</div></div>';
    return result;
  }

</script>

<nav class="navbar navbar-inverse nomargin navbar-fixed-top">
  <form onSubmit="add()" class="image-form" id="image-submit-form">
    Latitude: <input class="horizontal-form" type="text" id="form-lat">&nbsp;
    Longitude: <input class="horizontal-form" type="text" id="form-lng">&nbsp;
    <input class="horizontal-form" type="file" style="color: white">&nbsp;
    <input class="horizontal-form" type="submit" value="Submit">
  </form>
</nav>

<div class="container-fluid nomargin">

  <div id="mapstyle">
    <div id="map">
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: 50.0, lng: 0.0}
        });
        for (var m in markers) {
          var marker = new google.maps.Marker({
            position: {lat: markers[m].lat, lng: markers[m].lng},
            label: m.toString(),
            shroom_id: m,
            map: map
          });
          marker.addListener('click', function() {
            markerClicked(this.shroom_id);
          });
        }
      }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPM9_3BAacJDRTNoa0qchoRCuqMdgCjN0&callback=initMap">
      </script>
    </div>
  </div>

  <div id="newsfeed">



  </div>

</div>

</div>




{% endblock %}
