{% extends "base_old.html" %}

{% block content %}
<h2> {{ welcome }} </h2>

<!-- basic information display -->
<div id="user-profile">
  <h2>Your profile</h2>
  Username: %profile.user.username%
  <br>
  Full name: %profile.user.first_name% %profile.user.last_name%
  <br>
  Email: %profile.user.email%
  <br>
  Status: %profile.status%
  <br>
  <image src=%profile.image%></image>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    console.log("Ready!");

    $.ajax({
      url: '/api/get_profile_self',
      type: "GET",
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
          var content = document.getElementById("user-profile").innerHTML;
          content = content.replace("%profile.user.username%", data.username);
          content = content.replace("%profile.user.first_name%", data.first_name);
          content = content.replace("%profile.user.last_name%", data.last_name);
          content = content.replace("%profile.user.email%", data.email);
          content = content.replace("%profile.status%", data.status);
          content = content.replace("%profile.image%", data.image);
          document.getElementById("user-profile").innerHTML = content;
       }
    });

  });
</script>
{% endblock %}
