<script>
    function onOpen() {
      getLocation();
    }

    function getMiniMap(position) {
      var mapUrl = "https://maps.googleapis.com/maps/api/staticmap?center=LATITUDE,LONGITUDE&zoom=14&size=400x300&markers=color:blue|LATITUDE,LONGITUDE&key=AIzaSyCoGpZQdMzmoahBt27dvZDWNlPdeCagig8";
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      mapUrl = mapUrl.replace('LATITUDE', lat);
      mapUrl = mapUrl.replace('LATITUDE', lat);
      mapUrl = mapUrl.replace('LONGITUDE', lon);
      mapUrl = mapUrl.replace('LONGITUDE', lon);
      document.getElementById("minimap").src = mapUrl;
    }

    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition, showError);
      }
      else {
          document.getElementById("position").innerHTML = "Geolocation is not supported by this browser.";
      }

      function showPosition(position) {
          document.getElementById("id_lat").value = position.coords.latitude;
          document.getElementById("id_lon").value = position.coords.longitude;
          getMiniMap(position);
      }

      function showError(error) {
          switch(error.code) {
              case error.PERMISSION_DENIED:
                  document.getElementById("position").innerHTML = "User denied the request for Geolocation."
                  break;
              case error.POSITION_UNAVAILABLE:
                  document.getElementById("position").innerHTML = "Location information is unavailable."
                  break;
              case error.TIMEOUT:
                  document.getElementById("position").innerHTML = "The request to get user location timed out."
                  break;
              case error.UNKNOWN_ERROR:
                  document.getElementById("position").innerHTML = "An unknown error occurred."
                  break;
          }
      }
    }

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            document.getElementById('video').src = window.URL.createObjectURL(stream);
            document.getElementById('video').play();
        });
    }

    // Trigger photo take
    function snap() {
    	document.getElementById('canvas').getContext('2d').drawImage(document.getElementById('video'), 0, 0, 400, 300);
      document.getElementById('test').innerHTML = document.getElementById('canvas').toDataURL('image/jpeg');
      document.getElementById('take_pic').style.display = 'none';
      document.getElementById('show_pic').style.display = 'block';
    };

    function retakePicture() {
      document.getElementById('take_pic').style.display = 'block';
      document.getElementById('show_pic').style.display = 'none';
    }

</script>

{% extends "base_old.html" %}

{% block content %}
<body onload="getLocation()">

<h2>Create your post:</h2>
{{ err_msg }}

<img id="minimap" src=''>
<br>

<p id="test"></p>

<div id="take_pic" style="display:block">
  <button id="snap" onclick="snap()">Snap Photo</button>
  <br>
  <video id="video" width="400" height="300" autoplay></video>
</div>

<div id="show_pic" style="display:none">
  <button id="retake_pic" onclick="retakePicture()">Retake</button>
  <br>
  <canvas id="canvas" width="400" height="300"></canvas>
</div>

<br>

<form action="create_post" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Post!">
</form>

{% endblock content %}
