{% load static %}<!doctype html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

  <body>
    <div class="background">
      <!-- sets entire page background -->
      <div class="container">

        <!-- defines header -->
        <div class="header">
          <h1>Herenow app</h1>
          <a href="/herenow/index_old">Home</a>
          <br>
          <a href="/herenow/profile">My profile</a>
          <br>
          <a href="/herenow/feed">What's new</a>
        </div>

        <!-- defines body -->
        <div class="body">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

    <!-- defines scripts -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/test.js' %}"></script>

    {% block javascript %}{% endblock %}
  </body>

</html>
